<launch>
   
  <param name="robot_description"
    command="cat $(find phone_case)/urdf/phone_case.urdf" />
  <!-- BEGIN PHONECASE 2-->
  <group ns="phone_case1">
    <param name="tf_prefix" value="phone_case1_tf" />
    <include file="$(find phone_case)/launch/gazebo.launch" >
      <arg name="init_pose" value="-y 1.3 -z 0.5" />
      <arg name="robot_name"  value="phone_case1" />
    </include>
  </group>
</launch>
