<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
     <node name="spawn_maze" pkg="gazebo_ros" type="spawn_model" args="-sdf
      -file $(find autoxing)/maps/sdf/maze/model.sdf -model walls" output="screen" /> 
   <node
    name="spawn_model1"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find machine)/urdf/machine.urdf -urdf -model machine1 -y 1.5 -R 1.57"
    output="screen" />
      <node
    name="spawn_model2"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find machine)/urdf/machine.urdf -urdf -model machine2 -y 1.5 -x 2 -R 1.57"
    output="screen" />
      <node
    name="spawn_model3"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find machine)/urdf/machine.urdf -urdf -model machine3 -y 1.5 -x 3 -R 1.57"
    output="screen" />
  <node
    name="spawn_model4"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find phone_case)/urdf/phone_case.urdf -urdf -model phone_case1 -y 1.3 -z 0.5 "
    output="screen" />
    <node
    name="spawn_model5"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find phone_case)/urdf/phone_case.urdf -urdf -model phone_case2 -y 1.3 -z 0.5 -x 2"
    output="screen" />
    <node
    name="spawn_model6"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find phone_case)/urdf/phone_case.urdf -urdf -model phone_case3 -y 1.3 -z 0.5 -x 3"
    output="screen" />
</launch>
