<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="galaxy">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00257169737605832 -0.000812290547689505 -0.00103946853090237"
        rpy="0 0 0" />
      <mass
        value="0.0265447961050558" />
      <inertia
        ixx="1.78527856401786E-05"
        ixy="1.61841877626638E-06"
        ixz="9.59022182410208E-08"
        iyy="5.65826244203313E-05"
        iyz="-8.49502926354189E-08"
        izz="7.38330599334693E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://galaxy/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://galaxy/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>